save-exact=true
registry=https://wrl-009746471521.d.codeartifact.us-east-1.amazonaws.com/npm/WRL/
//wrl-009746471521.d.codeartifact.us-east-1.amazonaws.com/npm/WRL/:always-auth=true
//wrl-009746471521.d.codeartifact.us-east-1.amazonaws.com/npm/WRL/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=FD3865DF-20C6-4080-B8B1-85E62576C041
//npm.fontawesome.com/:always-auth=true